/* Виджет назначает height: 100% , что может привести к непредксказуемому результату, если вы этого не планировали */
html {
    height: auto !important;
}

/* Фиксируем позицию body, которую меняет панель гугла*/
body {
    top: 0 !important;
    position: static !important;
}

/* Прячем панель гугла */
.skiptranslate {
    display: none !important;
}

/* Убираем подсветку ссылок и текста при наведении */
.goog-text-highlight,
font>font {
    background-color: transparent !important;
    box-shadow: none !important;
    box-sizing: inherit;
}

/* language */
.language {
    position: fixed;
    left: 10px;
    top: 90%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.language .language__img {
    border: 3px solid #ccc;
    width: 39px;
    margin: 5px;
    cursor: pointer;
    filter: grayscale(0.8);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4px;
}

.language .language__img:hover,
.language .language__img_active {
    opacity: 1;
    filter: unset;
}